body{
   
    max-width: 100%;
    background-color: rgb(198, 210, 221);
}
.nuone{
    border: 2px solid gray;
    float: center;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    margin: 80px;
    padding: 20px;
    background-color: rgb(13, 143, 125);
}
h1{
    text-decoration: underline;

}
input{
    color: blue;
    background-color: black;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 8px;

}
input:hover{
    background-color: brown;
}
button{
    background-color: black;
    outline: 5px dotted rgb(109, 19, 75);
}
button:hover{
    background-color: blue
}
a{
    text-decoration: none;
}
a:hover{
    background-color: blue;
    text-decoration: none;
}
p{
    margin-left: 100px;
    font-size: large;
    text-align: left;
}